.nav_item {
    height: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: #04202c;
    margin: 0 30px;
}
.link:hover {
    text-decoration: underline;
}
.active {
    color: white;
}